body {
    font-family: "Montserrat"
}

h1 {
    font-size: 1.7rem;
    font-family: "Montserrat";
    font-weight: 600;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    transition: all .1s ease-in-out;
}

a:hover {
    color: orange;
    transform: scale(1.1);
}

/* Header Links */

li.header-links {
    letter-spacing: 0.3ch;
    margin: 0 1rem 0 1rem;
    transition: all .1s ease-in-out;
}

li.header-links:hover {
    color: rgb(0, 163, 147);
    transform: scale(1.1);
}

/* Social Media Icons */
.sm a{
    display: inline-block;
    font-size: 50px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 10px;
    position: relative;
}

.sm a::before, .sm a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left:0; 
    top:0;
}

.sm a:hover{
    transform: scale(.8);
    transition: .3s linear;
}

.sm a:hover::before{
border-left: 1px solid #5daca8;
border-right: 1px solid #5daca8;
transform: skewX(20deg);
transition: .3s linear;
}

.sm a:hover::after{
    border-top: 1px solid #5daca8;
    border-bottom: 1px solid #5daca8;
    transform: skewY(-20deg);
    transition: .3s linear;
}

#resume, button {
    color: #000;
    padding: 0.5em;
    text-decoration: none;
    transition: all 300ms ease-out;
    box-shadow: inset 0 -0.em 0 0 #000;
    border: 1px solid #000;
}

#resume:hover {
    color: #fff;
    box-shadow: inset 0 -2.3em 0 0 #000;
}

button:hover {
    color: #fff;
    box-shadow: inset 0 -2.5em 0 0 #000;
}

hr {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.project-card {
    margin: 2rem 0 2rem 0;
}

.trans--grow {
    -webkit-transition: width 1s ease-out;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-out;
    width: 0%;
}

.project-image {
    max-width: 400px;
}

.skills-list {
    margin-left: 0;
}

.skills-list>li {
    list-style-type: circle;
}


#header-logo {
    font-family: "Megrim";
    letter-spacing: 0.07ch;
    color: #fff;
    margin: 0 auto;
}

.fade-in {
    margin-top: 0rem;
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#profile-picture,
#profile-picture-2 {
    text-align: center;
}

#profile-picture>img {
    border-radius: 50%;
    width: 400px;
    height: auto;
}

#profile-picture-2>img {
    width: 400px;
    height: auto;
}

#brand-statement {
    margin: auto;
}

#project-links {
    display: flex;
}

/* Contact Form */
.contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.contact-form {
    background: #fff;
    border-radius: 0.25rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    width: 90vw;
    max-width: 35rem;
}
.form-group {
    padding: 1rem 1.5rem;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(128, 128, 128);
    margin-bottom: 1.25rem;
    background: hsl(210, 36%, 96%);
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .form-control::placeholder {
    color: hsl(195, 7%, 58%);
    text-transform: uppercase;
  }
/* Fade-in Section */

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
        visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* Tablet View */
@media only screen and (max-width: 1024px) {
    main {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
    }
}

/* Mobile View  */
@media only screen and (max-width: 400px) {
    main {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .navbar {
        visibility: hidden;
    }
}